@import "github-calendar/dist/github-calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}
.heading-font {
  font-family: 'Playfair Display', serif;
}
